---
---

@import "global.scss";

* {
	font-family: $font-body;
	animation-name: fadeIn;
	animation-duration: .3s;
	animation-timing-function: ease-out;

	@include theme-vars($theme);
}

.--theme-dark,
.--theme-dark * {
	@include theme-vars($theme-dark);
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

.--noanim {
	animation: none;
}

.--noanim>* {
	animation: none;
}

p {
	@include var("color", "normal-color-text");
}

a {
	@include var("color", "accent-color-text");

	cursor: pointer;
	outline: none;
	transition: color .25s;
	-moz-transition: color .25s;
	-webkit-transition: color .25s;
}

a:hover, a:focus {
	@include var("color", "normal-color-focus");
}

a:focus {
	text-decoration-color: transparent;
	font-weight: bold;
}

.material-icons.--focusable {
	@include var("color", "normal-color-focusable");

	transition: color .25s;
	-moz-transition: color .25s;
	-webkit-transition: color .25s;
}

.material-icons.--focusable:hover {
	@include var("color", "normal-color-focus");
}

.material-icons.--clickable {
	user-select: none;
	cursor: pointer;
}

@import "elements/img.scss";
@import "elements/iframe.scss";
@import "elements/banner.scss";
@import "elements/comic.scss";
@import "elements/dialog.scss";
@import "elements/paper.scss";
@import "elements/paginator.scss";
@import "elements/rtable.scss";
@import "elements/snackbar.scss";
@import "elements/title.scss";
@import "elements/widget.scss";
@import "elements/link.scss";
@import "elements/footer.scss";

body {
	margin: 0;

	@include var("background-color", "normal-background-darker");
	@include var("color", "normal-color");

	word-wrap: break-word;
	word-break: break-word;

	transition: background-color .25s;
	-moz-transition: background-color .25s;
	-webkit-transition: background-color .25s;
}

body.--dialog {
	overflow: hidden;
}

main {
	@include var("background-color", "normal-background");

	display: block;
	padding: $box-fixed-y 0;
	
	transition: transform .25s;
	-moz-transition: transform .25s;
	-webkit-transition: transform .25s;
}

.--content {
	margin-left: $box-fluid-x;
	margin-right: $box-fluid-x;
}

main.--content {
	padding: $box-y $box-x;
	margin: 0;
}

body main.--frame {
	margin: 0;
	padding: $box-fixed-y 0;
	min-height: calc(100vh - #{2 * $box-fixed-y});
}

body[webkit] main.--frame {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 2;
}

.--sr-only {
	display: none;
	visibility: hidden;
}

.--desktop {
	display: none;
}

.--mobile {
	display: block;
}

@media (min-width: 1000px) {
	.--desktop {
		display: block;
	}

	.--mobile {
		display: none;
	}

	main {
		margin: $box-y $box-x;
		padding: 0;

		box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
	}

	.--content {
		margin-left: $box-x;
		margin-right: $box-x;
	}
}

main.--frame {
	margin: 0;
}
