{% assign comic = site.prismic.collections.comics | where: 'uid', include.uid | first %}
{% assign url = '/comics/' | append: include.uid | append: '/' %}
<div class="paper__item comic" style="grid-area: {{ include.rowStart }} / {{ include.colStart }} / {{ include.rowEnd }} / {{ include.colEnd }};" data-url="{{ url }}" data-slug="{{ include.uid }}" onclick="onClick(this, '{{ url }}', '{{ include.uid }}');">
	<h2 class="--sr-only">{{ comic.fragments.page-name.text }}</h2>
	<p class="--sr-only">{{ comic.fragments.page-desc.text }}</p>
	<div class="comic__container">
		<div class="comic__images">
			{% for image in comic.fragments.panels.group_documents %}
			<img class="lozad img img--lazy comic__images__image" data-src="{{ image.fragments.image.url }}" alt="{{ image.fragments.alt.text }}">
			{% endfor %}
		</div>
		<div class="comic__prompt">
			<p class="comic__prompt__text">
				<i class="material-icons">arrow_forward</i>
				<br>View More...
			</p>
		</div>
	</div>
	<a class="link link--comic --mobile" onclick="onClick(this, '{{ url }}#disqus_thread', '{{ include.uid }}');">
		<span>Comments&nbsp;&nbsp;</span>
		<i class="material-icons">comment</i>
	</a>
</div>
