{% assign blok = include.blok %}
{% assign url = site.baseurl | append: include.blok.full_slug %}
<div class="paper__item comic" style="grid-area: {{ include.rowStart }} / {{ include.colStart }} / {{ include.rowEnd }} / {{ include.colEnd }};" data-url="{{ url }}" data-slug="{{ blok.slug }}" data-title="{{ blok.name }}" onclick="page('{{ url }}');">
	<h2 class="--sr-only">{{ blok.name }}</h2>
	<p class="--sr-only">{{ blok.content.desc }}</p>
	<div class="comic__container">
		<div class="comic__images">
			{% for panel in blok.content.panels %}
			<img class="lozad img img--lazy comic__images__image" data-src="{{ panel.image }}" alt="{{ panel.alt }}">
			{% endfor %}
		</div>
		<div class="comic__prompt">
			<p class="comic__prompt__text">
				<i class="material-icons">arrow_forward</i>
				<br>View More...
			</p>
		</div>
	</div>
	<a class="link link--comic --mobile" onclick="onClick(this, '{{ url }}#disqus_thread', '{{ include.uid }}');">
		<span>Comments&nbsp;&nbsp;</span>
		<i class="material-icons">comment</i>
	</a>
</div>
