<div class="widget__container">
    <div class="widget">
        <div class="widget__text">
            <span class="widget__title">Today's Date:</span>
            <span id="widget-date"></span>
        </div>
    </div>
    <div class="widget">
        <img id="widget-weather-icon" style="height: 100%; margin-right: 16px;">
        <div class="widget__text">
            <span class="widget__title">Weather (<span id="widget-weather-location"></span>):</span>
            <span id="widget-weather"></span>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#widget-date').text(new Date().toDateString());

    $.get('http://ip-api.com/json/', function(response) {
        $("#widget-weather-location").text(response.city + ', ' + response.region);

        if (response.lat < 0)
            response.lat += 360;
        if (response.lon < 0)
            response.lon += 360;

        $.get('https://api.weatherbit.io/v2.0/current?lat=' + response.lat + '&lon=' + response.lon + '&key=e46ee7b526e14cfaa8402cb037e9efa5', function(weather) {
            $('#widget-weather').text(weather.data[0].weather.description);
            $('#widget-weather-icon').attr("src", "https://www.weatherbit.io/static/img/icons/" + weather.data[0].weather.icon + ".png");
            console.log(weather);
        });
    });
</script>
