<div class="widget__container">
    {% assign comics = site.prismic.collections.comics %}
    {% for i in (0..3) %}{% if comics[i] %}
    {% assign url = '/comics/' | append: comics[i].uid | append: '/' %}
    <div class="widget" data-url="{{ url }}" data-slug="{{ comics[i].uid }}" onclick="onClick(this, '{{ url }}', '{{ comics[i].uid }}');">
        <div class="widget__text">
            <a class="widget__title">{{ comics[i].fragments.title.text }}</a>
        </div>
    </div>
    {% endif %}{% endfor %}
    <div class="widget">
        <div class="widget__text">
            <span id="widget-date-day"></span><br>
            <span id="widget-date"></span>
        </div>
    </div>
    <div class="widget">
        <img id="widget-weather-icon" style="height: 100%; margin-right: 16px;">
        <div class="widget__text">
            <span class="widget__title"><span id="widget-weather-temp"></span> (<span id="widget-weather-location"></span>)</span>
            <span id="widget-weather"></span>
        </div>
    </div>
</div>

<script type="text/javascript">
    (function() {
        $('#widget-date-day').text([
            "Sunday",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday"
        ][new Date().getDay()]);

        $('#widget-date').text(new Date().toDateString().substring(4));

        let bindWeather = function(weather) {
            $('#widget-weather').text(weather.description);
            $('#widget-weather-icon').attr("src", weather.icon);
            $("#widget-weather-location").text(weather.location);
            $("#widget-weather-temp").html(weather.temp);
        };

        let weather = JSON.parse(localStorage.getItem("widget/weather")) || {};
        if (weather && Date.now() - weather.timestamp < 7200000) {
            bindWeather(weather);
        } else {
            $.get('https://ipapi.co/json', function(response) {
                weather.location = response.city + ', ' + response.region;

                let getCoord = function(x) { return x < 0 ? x + 360 : x; };
                let lat = getCoord(response.latitude);
                let lon = getCoord(response.longitude);

                $.get('https://api.weatherbit.io/v2.0/current?lat=' + lat + '&lon=' + lon + atob('JmtleT1lNDZlZTdiNTI2ZTE0Y2ZhYTg0MDJjYjAzN2U5ZWZhNQ=='), function(weatherResponse) {
                    console.log(weatherResponse);
                    weather.timestamp = Date.now();
                    weather.description = weatherResponse.data[0].weather.description;
                    weather.icon = "https://www.weatherbit.io/static/img/icons/" + weatherResponse.data[0].weather.icon + ".png";
                    weather.temp = weatherResponse.data[0].temp + ' &deg;C';

                    localStorage.setItem("widget/weather", JSON.stringify(weather));
                    bindWeather(weather);
                });
            });
        }
    })();
</script>
