---
layout: null
permalink: /
---

<!DOCTYPE html>
<html lang="en">
    {% assign url = site.url | append: '/404' %}
    {% for pg in site.pages %}{% if pg.story and pg.story.content.component == 'paper' %}
    {% assign url = site.url | append: pg.url %}
    {% endif %}{% endfor %}
	<head>
	    {% include head.html title="Redirecting to Comics Page" %}
		<meta http-equiv="refresh" content="0; URL='{{ url }}'">
	</head>
	<body>
		Redirecting to <a href="{{ url }}">{{ url }}</a>
		<script type="text/javascript">
			window.location = "{{ url }}";
		</script>
	</body>
</html>
