---
layout: default
---

{% assign paperUid = nil %}
{% for paper in site.prismic.collections.papers %}
{% for comic in paper.fragments.comics.group_documents %}
{% if comic.fragments.comic.uid == document.uid %}
{% assign paperUid = paper.uid %}
{% endif %}
{% endfor %}
{% endfor %}

{% if paperUid %}
<script type="text/javascript">
    if (parent.location == self.location)
        document.location.href = "{{ site.url }}/{{ paperUid }}/#{{ document.uid }}";
</script>
{% endif %}

<main class="--frame">
    <h3 class="title --content">{{ document.fragments.title.text }}</h3>
    <p class="--sr-only">{{ document.fragments.desc.text }}</p>
    <div class="comic__wrapper">
        <div id="comicPanels" class="comic--wide">
            {% for panel in document.fragments.panels.group_documents %}
            <div class="comic--wide__panel">
                <img class="comic--wide__panel__img" src="{{ panel.fragments.image.url }}" alt="{{ panel.fragments.alt.text }}">
                <p class="--sr-only">{{ panel.fragments.alt.text }}</p>
            </div>
            {% endfor %}
        </div>
        <button class="comic__button comic__button--right" onclick="scrollComicNext()">
            <i class="material-icons">chevron_right</i>
        </button>
        <button class="comic__button comic__button--left" onclick="scrollComicPrevious()">
            <i class="material-icons">chevron_left</i>
        </button>
    </div>

    <br>
    {% include comments.html %}
</main>

<div style="display: none;">
    {% include theme-switch.html %}
</div>

<script type="text/javascript">
var _comicPanelsContainer = document.getElementById("comicPanels");
var _comicPanelNum = 0;

function scrollComicNext() {
    do {
        _comicPanelNum++;
    } while (_comicPanelsContainer.children[_comicPanelNum] && !_comicPanelsContainer.children[_comicPanelNum].scrollIntoView);

    if (_comicPanelNum >= _comicPanelsContainer.children.length)
        _comicPanelNum = 0;

    if (_comicPanelsContainer.children[_comicPanelNum]) {
        _comicPanelsContainer.children[_comicPanelNum].focus();
        _comicPanelsContainer.children[_comicPanelNum].scrollIntoView({
            behavior: 'smooth'
        });
    }
}

function scrollComicPrevious() {
    do {
        _comicPanelNum--;
    } while (_comicPanelsContainer.children[_comicPanelNum] && !_comicPanelsContainer.children[_comicPanelNum].scrollIntoView);

    if (_comicPanelNum < 0)
        _comicPanelNum = _comicPanelsContainer.children.length - 1;

    if (_comicPanelsContainer.children[_comicPanelNum]) {
        _comicPanelsContainer.children[_comicPanelNum].focus();
        _comicPanelsContainer.children[_comicPanelNum].scrollIntoView({
            behavior: 'smooth'
        });
    }
}
</script>

{% include comments-jump.html %}
