---
layout: default
---

{% assign paperSlug = nil %}
{% for pg in site.pages %}
{% if pg.story and pg.story.content.component == 'paper' %}
{% if pg.story.content.comics contains page.story.uuid %}{% assign paperSlug = pg.story.full_slug %}{% endif %}
{% endif %}
{% endfor %}

{% if paperSlug %}
<script type="text/javascript">
    if (parent.location == self.location)
        document.location.href = "{{ site.url }}/{{ paperSlug }}/#{{ page.story.slug }}";
</script>
{% endif %}

{{ page.story.content._editable }}
<main class="--frame">
    <h3 class="title --content">{{ page.story.name }}</h3>
    <p class="--sr-only">{{ page.story.content.desc }}</p>
    <div class="comic__wrapper">
        <div id="comicPanels" class="comic--wide">
            {% for panel in page.story.content.panels %}
            {{ panel._editable }}
            <div class="comic--wide__panel">
                <img class="comic--wide__panel__img" src="{{ panel.image }}" alt="{{ panel.alt }}">
                <p class="--sr-only">{{ panel.alt }}</p>
            </div>
            {% endfor %}
        </div>
        <button class="comic__button comic__button--right" onclick="scrollComicNext()">
            <i class="material-icons">chevron_right</i>
        </button>
        <button class="comic__button comic__button--left" onclick="scrollComicPrevious()">
            <i class="material-icons">chevron_left</i>
        </button>
    </div>

    <br>
    {% include comments.html %}
</main>

<div style="display: none;">
    {% include theme-switch.html %}
</div>

<script type="text/javascript">
var _comicPanelsContainer = document.getElementById("comicPanels");
var _comicPanelNum = 0;

function scrollComicNext() {
    do {
        _comicPanelNum++;
    } while (_comicPanelsContainer.children[_comicPanelNum] && !_comicPanelsContainer.children[_comicPanelNum].scrollIntoView);

    if (_comicPanelNum >= _comicPanelsContainer.children.length)
        _comicPanelNum = 0;

    if (_comicPanelsContainer.children[_comicPanelNum]) {
        _comicPanelsContainer.children[_comicPanelNum].focus();
        _comicPanelsContainer.children[_comicPanelNum].scrollIntoView({
            behavior: 'smooth'
        });
    }
}

function scrollComicPrevious() {
    do {
        _comicPanelNum--;
    } while (_comicPanelsContainer.children[_comicPanelNum] && !_comicPanelsContainer.children[_comicPanelNum].scrollIntoView);

    if (_comicPanelNum < 0)
        _comicPanelNum = _comicPanelsContainer.children.length - 1;

    if (_comicPanelsContainer.children[_comicPanelNum]) {
        _comicPanelsContainer.children[_comicPanelNum].focus();
        _comicPanelsContainer.children[_comicPanelNum].scrollIntoView({
            behavior: 'smooth'
        });
    }
}
</script>

{% include comments-jump.html %}
