@import "../global.scss";

.widget__container {
    display: none;

    padding: 0.5em 1em;

    @include var(
        "border-bottom",
        ($box-border-size, solid, "normal-color-focus")
    );
}

.widget {
    display: inline-block;
    padding: 0.3em calc(1vw + 1em);

    @include var(
        "border-right",
        (1px, solid, "normal-background-darker")
    );
}

.widget > * {
    display: inline;
}

.widget__title {
    display: block;
    font-size: 0.8em;
    font-weight: bold;
}

@media(min-width: 1000px) {
    .widget__container {
        display: block;
    }
}
